<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Pacientes</title>
    <style>
        body{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .contenedor{
            background-color: bisque;
            height:auto;
            margin: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        p{
            width:max-content;
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>Listado de Pacientes</h1>
        {% if not sick %}
        <p>No hay Pacientes Registrados</p>
        {% endif %}
        <table>
            <thead>
                <th>DNI&nbsp;&nbsp;</th>
                <th>&nbsp;Nombre&nbsp;&nbsp;</th>
                <th>&nbsp;Apellido&nbsp;&nbsp;</th>
                <th>&nbsp;Fecha Nacimiento&nbsp;&nbsp;</th>
                <th>&nbsp;Teléfono&nbsp;&nbsp;</th>
                <th>&nbsp;Correo&nbsp;&nbsp;</th>
                <th>&nbsp;Dirección&nbsp;&nbsp;</th>
            </thead>
            <tbody>
            {% for item in sick %}
                <tr>
                    <td>{{item.DNI}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.Nombres}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.Apellidos}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.FechaNac}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.Telefono}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.correo}}&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;{{item.Direccion}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>